:root {
  --color-background: #ffffff;
  --color-text: #333;

  --color-text-pale: #aaa;
  --color-text-paler: #e6e6e6;

  
  --color-link: #006bbd;
  --color-link-hover: #0053f3;

  --color-tag: white;
  --colot-tag-background: #1692cc;
      
  --color-block-background: #fcfcfc;
  --color-block-border: #ddd;
  --color-image-border: #ccc;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  max-width: 74rem;
  margin: auto;
  line-height: 1.6;
  font-size: 1rem;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
  hanging-punctuation: first last; 
  background: var(--color-background);
  color: var(--color-text);
}

@media (max-width: 799px) {
  body {
    padding: 0.5rem;
    font-size: 0.95rem;
  }
}

/* Headings */

body h1,
body h2,
body h3,
body h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

body h1 b,
body h2 b,
body h3 b,
body h4 b {
  display: block;
  line-height: 1;
}

body h1 img,
body h2 img,
body h3 img,
body h4 img {
  vertical-align: middle;
  border: 0 none;
}

body h1 {
  line-height: 1.1;
  font-size: 2.4rem;
  margin: 0 0 2.4rem;
}

h1.title {
    display: none;
}

body h2 {
  position: relative;
  line-height: 1.3;
  font-size: 2.2rem;
  margin: 2.2rem 0 0.9rem;
}
body h3 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 1.8em 0 0.9rem;
}

body h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

body p {
    text-align: justify;
    margin: 1.5rem 0;
}

/* Links  */
body a {
  text-decoration: dotted;
  color: var(--color-link);
}

body a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

/* Code related  */
pre {
    font-family: Iosevka, monospace;
}
body pre {
  background: var(--color-block-background);
  border: 1px solid var(--color-block-border);
}
body pre.src {
  overflow-y: auto !important;
}
body code {
  font-family: Iosevka, monospace;
  background: var(--color-block-background);
  border: 1px solid var(--color-block-border);
  padding: 0px 4px;
  overflow-x: auto;
}
blockquote {
  background: var(--color-block-background);
  border-left: 5px solid var(--color-block-border);
  padding: 3px 1rem 3px;
}

body li {
  margin-bottom: 1rem;
}

body img {
  border: 1px solid #ccc;
  height: auto;
  max-width: 70%;
}
@media (max-width: 800px) {
  body img {
    max-width: 100%;
  }
}
body img.no-border {
  border: none;
}

body .tag {
  background: transparent;
  font-size: 0.6rem;
}
body .tag span {
  background: var(--color-tag-background);
  color: var(--color-tag);
  padding: 2px 5px;
  border-radius: 4px;
}

body .pubdate {
  color: var(--color-text-pale);
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: -16px;
  text-align: right;
  border-bottom: 1px solid var(--color-text-paler);
}
body .pubdate p {
  display: inline;
  margin-right: 10px;
}
@media (max-width: 800px) {
  body .pubdate {
    margin-top: 0;
    text-align: left;
  }
}
body .nav-blog {
  text-align: right;
}
body .org-info-js_info-navigation {
  background: var(--color-text-pale);
}
@media (min-width: 800px) {
  #postamble {
    margin: 0 auto;
    max-width: 700px !important;
    width: 700px !important;
  }
}
#content {
  margin-top: 0.8rem;
}
#postamble {
  font-size: 0.8rem;
  line-height: 1.8rem;
  margin-top: 50px;
  text-align: center;
  color: #aaa;
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
}

#postamble a {
  color: var(--color-link);
}
@media (min-width: 800px) {
  #preamble {
    width: 700px;
    margin: 0px auto;
    position: relative;
  }
}
body .intro {
  padding-top: 1.2rem;
  color: var(--color-text-pale);
  text-align: center;
}
body .intro h1 {
  font-weight: bold;
  line-height: 1rem;
  margin: 0.3rem;
  padding: 0;
}
body .intro p {
  color: var(--color-text-pale);
  text-align: center;
}
body .intro img {
  border-radius: 100%;
  width: 100px;
}
.nav {
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px solid var(--color-text-paler);
  text-transform: uppercase;
}
.nav ul {
  list-style: none;
  padding: 0;
}
.nav ul li {
  color: var(--color-text-pale);
  display: inline-block;
  margin: 0;
}
.nav ul li a {
  display: inline-block;
  padding-right: 6px;
  border-radius: 0;
  font-weight: normal;
  color: var(--color-text-pale);
}
.nav ul li i {
  font-size: 2rem;
}
#disqus_thread {
  margin-top: 40px;
}
body .clearfix {
  clear: both;
}
@media (min-width: 800px) {
  body .contact {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 3rem;
    -webkit-column-gap: 3rem;
    column-count: 2;
    column-gap: 3rem;
  }
}
.photo {
  text-align: center;
}
.photo p {
  text-align: center;
}
.photo .still {
  margin-top: 100px;
  padding: 60px 10px;
  border: 1px solid var(--color-image-border);
}
.photo .still.portrait {
  padding: 10px;
}
.photo label {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
}
.gallery .figure {
  padding: 0;
  margin-top: 20px;
}
.gallery .figure p {
  display: inline;
}
.gallery .figure img {
  max-width: 330px;
}
.gallery .figure img.landscape {
  max-width: 690px;
}
