@charset 'utf-8';

// * Colors
$color-gray: #666;
$color-darkgray: #666;

// * Fonts
html {
    line-height: 1.5;
}
main {
    font-family: Montserrat, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {        
    font-family: Oswald, sans-serif;
}

pre, code {
    font-family: Iosevka, monospace;
}

header {
    font-family: Oswald, sans-serif;
}

// * Org-mode Elements
// ** Page Structure
header h1 {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
}
.outline-2 {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 5rem;
    h2 {
        margin-bottom: 0;
    }
}

// ** Meta
.article-info {
    margin-bottom: 2rem;
    .date{
        color: $color-gray;
        font-weight: bolder;
        p {
            vertical-align: text-top;
            display: inline;
            text-transform: capitalize;
        }
    }
}

// ** Figures
.figure {
    padding: 1rem;
    p {
        text-align: center;
    }
}

// * Tags

.tag {
  padding: .2rem .6rem .3rem;
  line-height: 1.5;
  vertical-align: middle;
  background-color: white;
  span:before {
      content: "#";
  }
}

@mixin tag {
    vertical-align: top-text;
    float: right;
    font-size: 1rem;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: lighter;
    color: $color-darkgray;
    span {
        margin-right: 0.5rem;
    }
}

.outline-2 {
    h2 .tag {
        @include tag;
    }
    h3 .tag {
        @include tag;
    }
} 

// * Navigation
.nav {
    text-align: center;
    border-bottom: 1px solid $color-gray ;
    text-transform: uppercase;

    .nav-left {
        float: left;
    }
    .nav-right {
        float: right;
    }    

    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            a {
                display: inline-block;
            }
            i {
                font-size: 2rem;
            }                   
        }
    }
}

// * Footer
footer {
    font-family: Montserrat, Helvetica, sans-serif;
    border-top: 1px solid $color-darkgray;
    padding-top: 2rem;
    .container {
        width: 100%;
        max-width: 740px;
        margin: 0 auto;
        nav {
            text-align: center;
            ul {
                list-style: none;
                padding: 0;
                margin: 0
            }

            li {
                display: inline-block;
                margin-right: .625em;
                a {
                    font-size: 1.125em
                }
                &:last-child {
                    margin-right: 0
                }
            }
        }

        .meta {
            font-size: 0.8rem;
            margin-top: 50px;
            text-align: center;
            color: #aaa;
            padding: 15px 0;
            border-top: 1px solid #e2e2e2;
            a {
                color: $color-darkgray;
            }
        }
    }
}

.icon {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    position: relative;
    top: 2px;
}

